<header class="header">
    <img src="shared/desktop/logo-dark.png" alt="" class="header__logo" (click)="navigateToHome()">
    <button 
        (click)="drawer.toggle()" 
        (keydown.enter)="toggleMenu($event)" 
        (keydown.escape)="toggleMenu($event)" 
        class="header__menu-btn" 
        [ngClass]="{ 'close-icon': drawer.opened}">
        <img src="shared/mobile/icon-hamburger.svg" alt="" class="header__menu-btn-img">
    </button>
    <nav class="header__navbar">
        <a routerLink="/about" class="header__navbar-item">Our Company</a>
        <a routerLink="/locations" class="header__navbar-item">Locations</a>
        <a routerLink="/contact" class="header__navbar-item">Contact</a>
    </nav>
</header>