@use "../../../scss/variables" as v;

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.125rem 1.5rem;
    background-color: v.$White;
    &__logo {
        max-width: 202px;
        cursor: pointer;
    }
    &__menu-btn {
        background: transparent url(../../../assets/images/shared/mobile/icon-hamburger.svg) top center no-repeat;
        background-size: contain;
        border: none;
        cursor: pointer;
        transition: background .3s ease, transform .3s ease;
        width: 1.5rem;
        height: 1.5rem;
    }
    &__menu-btn-img {
        width: 1.5rem;
        height: 1.5rem;
        opacity: 0;
    }
    &__navbar {
        display: none;
    }
}

.close-icon {
    transform: rotate(180deg);
    background: transparent url(../../../assets/images/shared/mobile/icon-close.svg) top center no-repeat;
    background-size: contain;
}

@media screen and (min-width: 768px) {
    .header {
        padding: 4rem 2.4375rem;
        &__menu-btn {
            display: none;
        }
        &__navbar {
            display: flex;
            align-items: center;
            gap: 2.625rem;
            &-item {
                font-size: 14px;
                text-transform: uppercase;
                text-decoration: none;
                line-height: 14px;
                letter-spacing: 2px;
                color: v.$Dark-Grey;
                position: relative;
                &::after {
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: -3px;
                    background-color: v.$Black;
                    height: 1px;
                    width: 100%;
                    transform: scaleX(0);
                    transition: transform .3s ease;
                }
                &:hover {
                    &::after {
                        transform: scaleX(1);
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    .header {
        background-color: transparent;
        padding: 4rem 2.4375rem 4.1875rem;
        max-width: 1111px;
        padding: 4rem 0;
        margin: auto;
    }
}