@use "../../../scss/variables" as v;
@use "../../../scss/mixins" as m;

.contact {
    padding: 4.5rem 1.5rem;
    background: v.$Peach url(../../../assets/images/contact/mobile/bg-pattern-hero-contact-mobile.svg) no-repeat;
    background-position: -100px 0;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    &__text {
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        color: v.$White;
        &-title {
            font-size: 2rem;
            line-height: 36px;
            font-weight: 500;
        }
        &-paragraph {
            font-size: 15px;
            line-height: 25px;
            font-weight: 400;
            opacity: .8;
        }
    }
    &__form {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        &-input {
            width: 100%;
            background-color: transparent;
            border: none;
            border-bottom: 1px solid v.$White;
            padding: 11px 13px;
            color: v.$White;
            &::placeholder {
                font-size: .9375rem;
                line-height: 26px;
                color: v.$White;
                opacity: .5;
            }
            &-wrapper {
                position: relative;
                z-index: 1;
            }
            &-error {
                display: flex;
                align-items: center;
                gap: .5625rem;
                font-family: v.$Jost-Italic;
                color: v.$White;
                position: absolute;
                top: 10px;
                right: 8px;
                z-index: 0;
            }
        }
        &-submit-btn {
            @include m.whiteButton();
            padding: 1.125rem 2.9375rem;
            width: fit-content;
            margin: 16px auto 0;
        }
    }
    &__locations {
        padding: 7.5rem .75rem;
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }
}

@media screen and (min-width: 768px) {
    .contact {
        padding: 4.4375rem 3.625rem;
        background: v.$Peach url(../../../assets/images/contact/desktop/bg-pattern-hero-desktop.svg) no-repeat;
        background-position: -112px -52px;
        margin: 0 2.4375rem;
        border-radius: 15px;
        &__text {
            text-align: start;
            gap: 2rem;
            &-title {
                font-size: 3rem;
                line-height: 3rem;
            }
            &-paragraph {
                font-size: 16px;
                line-height: 26px;
            }
        }
        &__form {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            &-input {
                font-size: .9375rem;
            }
            &-submit-btn {
                margin: 0 0 0 auto;
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    .contact {
        flex-direction: row;
        align-items: center;
        padding: 4.4375rem 5.9375rem;
        background-position: 0 -130px;
        max-width: 1111px;
        margin: 0 auto;
        border-radius: 15px;
        &__text {
            flex: 1 1;
            &-paragraph {
                padding-right: 3rem;
            }
        }
        &__form {
            flex: 0 1 380px;
            gap: 1rem;
        }
        &__locations {
            flex-direction: row;
            justify-content: space-around;
            max-width: 1111px;
            margin: auto;
            padding: 10rem 0;
        }
    }
}