@use "../../../scss/variables" as v;

.about {
    display: flex;
    flex-direction: column;
    padding-bottom: 288px;
    &__content-section {
        background: v.$Peach url(../../../assets/images/shared/mobile/bg-pattern-design-pages-intro-mobile.svg) no-repeat;
        background-position: top -113px right 0px;
        text-align: center;
        display: flex;
        flex-direction: column;
        color: v.$White;
        &:not(:nth-child(1)) {
            background: v.$Very-Light-Peach url(../../../assets/images/shared/desktop/bg-pattern-three-circles.svg);
        }
        &__image {
            width: 100%;
        }
        &-text {
            padding: 5rem 1.5rem;
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            div {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1.5rem;
            }
        }
        &-title {
            font-size: 2rem;
            line-height: 36px;
            font-weight: 500;
        }
        &-paragraph {
            font-size: .9375rem;
            line-height: 25px;
            font-weight: 500;
            opacity: .8;
        }
    }
    &__location-cards {
        padding: 7.5rem 0;
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }
}

.black {
    color: v.$Black;
}

.white {
    color: v.$White;
}

.peach {
    color: v.$Peach;
}

@media screen and (min-width: 768px) {
    .about {
        margin: 0 39px;
        gap: 7.5rem;
        padding-bottom: 350px;
        &__content-section {
            background: v.$Peach url(../../../assets/images/about/desktop/bg-pattern-hero-about-desktop.svg) top left no-repeat;
            background-position: 0 150px;
            border-radius: 15px;
            overflow: hidden;
            &:not(:nth-child(1)) {
                background: v.$Very-Light-Peach url(../../../assets/images/shared/desktop/bg-pattern-three-circles.svg);
            }
            &-text {
                padding: 4rem 1.5rem;
                gap: 2rem;
                max-width: 640px;
                align-self: center;
            }
            &-title {
                font-size: 3rem;
                line-height: 3rem;
            }
            &-paragraph {
                font-size: 1rem;
                line-height: 26px;
            }
        }
        &__location-cards {
            padding: 0 0;
            display: flex;
            flex-direction: column;
            gap: 3rem;
        }
    }
}