<section class="about">
    <img src="about/mobile/image-about-hero.jpg" alt="" class="about__image">
    <div class="about__first-text-section">
        <h2 class="about__first-text-section-title">About Us</h2>
        <p class="about__first-text-section-paragraph">
            Founded in 2010, we are a creative agency that produces lasting results for our clients. We’ve partnered with many startups, corporations, and nonprofits alike to craft designs that make real impact. We’re always looking forward to creating brands, products, and digital experiences that connect with our clients’ audiences.
        </p>
    </div>
    <img src="about/mobile/image-world-class-talent.jpg" alt="" class="about__image">
    
    <ng-template #textSection 
        let-title="title" 
        let-firstParagraph="first" 
        let-secondParagraph="second">
        <div class="about__second-text-section">
            <h2 class="about__second-text-section-title"> {{ title }} </h2>
            <div>
                <p class="about__second-text-section-paragraph"> {{ firstParagraph }} </p>
                <p class="about__second-text-section-paragraph"> {{ secondParagraph }} </p>
            </div>
        </div>
    </ng-template>

    <ng-container *ngTemplateOutlet="textSection; context: {
        title: 'World-class talent',
        first: 'We are a crew of strategists, problem-solvers, and technologists. Every design is thoughtfully crafted from concept to launch, ensuring success in its given market. We are constantly updating our skills in a myriad of platforms.   ',
        second: 'Our team is multi-disciplinary and we are not merely interested in form — content and meaning are just as important. We give great importance to craftsmanship, service, and prompt delivery. Clients have always been impressed with our high-quality outcomes that encapsulates their brand’s story and mission.'
    }">
    </ng-container>
    
    <div class="about__location-cards">
        <app-location-card
            *ngFor="let card of locationCardsInfo"
            [locationCardInfo]="card"
            >
        </app-location-card>
    </div>

    <img src="about/mobile/image-real-deal.jpg" alt="">

    <ng-container *ngTemplateOutlet="textSection; context: {
        title: 'The real deal',
        first: 'As strategic partners in our clients’ businesses, we are ready to take on any challenge as our own. Solving real problems require empathy and collaboration, and we strive to bring a fresh perspective to every opportunity. We make design and technology more accessible and give you tools to measure success.',
        second: 'We are visual storytellers in appealing and captivating ways. By combining business and marketing strategies, we inspire audiences to take action and drive real results.'
    }">
    </ng-container>
    
    
</section>