<section class="home">
    <div class="home__text">
        <h1 class="home__title">
            Award-winning custom designs and digital branding solutions
        </h1>
        <p class="home__paragraph">
            With over 10 years in the industry, we are experienced in creating fully responsive websites, app design, and engaging brand experiences. Find out more about our services.
        </p>
    </div>
    <button class="home__btn" routerLink="/projects/web-design">Learn More</button>
    <img src="home/desktop/image-hero-phone.png" alt="A cellphone containing the word Frame" class="home__image">
</section>

<section class="home__project-cards">
    <app-view-projects-card
        *ngFor="let card of cardsContent"
        [bgImage]="card.image"
        [title]="card.title"
        [link]="card.link"
        >
    </app-view-projects-card>
</section>

<section class="home__feature-cards">
    <app-feature-card
        *ngFor="let featureCard of featureCardContent"
        [image]="featureCard.image"
        [title]="featureCard.title"
        [paragraph]="featureCard.paragraph"
        >
    </app-feature-card>
</section>
