@use "../../../scss/variables" as v;
@use "../../../scss/mixins" as m;

.home {
    background: v.$Peach url(../../../assets/images/home/desktop/bg-pattern-hero-home.svg) no-repeat;
    background-position: 0 102px;
    color: v.$White;
    padding: 5rem 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1.5rem;
    position: relative;
    overflow: hidden;
    min-height: 843px;
    &__text {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
    &__title {
        font-size: 2rem;
        line-height: 36px;
        font-weight: 400;
    }
    &__paragraph {
        font-size: .9375rem;
        line-height: 25px;
        font-weight: 400;
    }
    &__btn {
        @include m.whiteButton();
        z-index: 1;
    }
    &__image {
        position: absolute;
        top: 302px;
    }
    &__project-cards {
        padding: 7.5rem 1.5rem;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
    &__feature-cards {
        padding: 0 1.5rem 7.5rem;
        display: flex;
        flex-direction: column;
        gap: 5rem;
    }
}

@media screen and (min-width: 768px) {
    .home {
        margin: 0 2.4375rem;
        background-position: right -121px top 102px;
        border-radius: 15px;
        padding: 3.75rem 3.625rem;
        &__title {
            font-size: 3rem;
            line-height: 48px;
        }
        &__paragraph {
            font-size: 1rem;
            line-height: 26px;
            padding-inline: 4.3125rem;
        }
        &__btn {
            @include m.whiteButton();
            z-index: 1;
        }
        &__image {
            top: 290px;
        }
        &__project-cards {
            padding: 7.5rem 2.4375rem;
        }
        &__feature-cards {
            padding: 0 2.4375rem 9.5rem;
            gap: 2rem;
        }
    }
}

@media screen and (min-width: 1200px) {
    .home {
        max-width: 1111px;
        background-position: right 0px top 0;
        padding: 3.75rem 5.9375rem;
        align-items: flex-start;
        justify-content: center;
        min-height: 640px;
        margin: auto;
        &__text {
            max-width: 540px;
            text-align: left;
        }
        
        &__paragraph {
            padding-inline: 0;
            max-width: 430px;
        }
        &__btn {
            margin-top: 1rem;
        }
        &__image {
            top: -30px;
            right: -80px;
        }
        &__project-cards {
            max-width: 1111px;
            padding: 10rem 0;
            margin: auto;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1.875rem;
        }
        &__feature-cards {
            flex-direction: row;
            padding: 0 0 9.5rem;
            gap: 2rem;
            max-width: 1111px;
            margin: auto;
        }
    }
}