@use "./variables" as v;

@mixin whiteButton() {
    padding: 1.0625rem 1.1875rem;
    background-color: v.$White;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color .3s ease, color .3s ease;
    &:hover {
        background-color: v.$Light-Peach;
        color: v.$White;
    }
    &:disabled {
        cursor: not-allowed;
        opacity: .4;
        &:hover {
            background-color: v.$White;
            color: v.$Opaque-Dark-Grey;
        }
    }
}